#home {
      position: relative;
      height: 100vh;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      overflow-x: hidden;

      & .contact-text {
            position: fixed;
            width: 120px;
            bottom: 20px;
            right: 20px;
            border: 3px dotted rgba(245, 245, 245, 0.404);
            padding: 5px;
            border-radius: 50%;
            backdrop-filter: blur(5px);
            transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.75);
            z-index: 2;
      }

      & h1 {
            font-family: "black";
            text-transform: uppercase;
            position: absolute;
            color: #e9ecef;
            font-size: 10em;
            letter-spacing: 10px;
            word-spacing: 50px;
            transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.75);

            & span {
                  color: transparent;
                  -webkit-text-stroke: 2px hsl(196, 100%, 49%);
            }
      }

      & h2 {
            position: absolute;
            top: 75%;
            font-family: "newyork";
            font-weight: lighter;
            font-size: 2em;
            left: unset;
            border: none;
            text-transform: unset;
            color: #e9ecef;
            transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.75);

            & span {
                  color: #00b4f8;
                  font-size: inherit;
            }
      }

      & img {
            filter: drop-shadow(0 0 15px black);
      }

      & .tronche {
            animation: gravity 1.2s ease-in-out infinite;
      }
}

/* Animation visage*/
@keyframes gravity {
      0%,
      100% {
            transform: translateY(-10px) rotateX(10deg);
      }
      50% {
            transform: translateY(10px) rotateX(-15deg);
      }
}
