#nav {
      height: 4em;
      position: absolute;
      left: 50%;
      top: 25px;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      z-index: 1;

      & ul {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 50px;
            padding: 0;

            & li {
                  list-style-type: none;
                  color: #e9ecef;

                  & a {
                        color: #e9ecef;
                        text-decoration: none;
                        font-family: "Roboto";
                        font-size: 1em;
                  }

                  & #underline {
                        width: 0;
                        margin-top: 5px;
                        height: 1px;
                        background: #00b4f8;
                        transition: 0.2s;
                  }

                  &:hover #underline {
                        width: 100%;
                  }
            }
      }
}
