#projects {
      position: relative;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 150px;

      & h2 {
            position: relative;
            margin: 0;
      }

      & #underline {
            width: 0;
            margin-top: -115px;
            height: 1px;
            background: #e9ecef;
            transition: 0.4s;
      }

      &:hover #underline {
            width: 25%;
      }

      & a {
            text-decoration: none;
      }

      & article {
            width: 80%;
            height: 55vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & .text-container {
                  flex: 1;
                  height: 75%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-evenly;

                  & h3 {
                        font-family: "black";
                        font-size: 28px;
                        color: #e9ecef;
                  }

                  & p {
                        font-family: "comfortaa";
                        color: #e9ecef;
                        font-size: 18px;
                        text-align: justify;
                        width: 60%;
                        line-height: 1.5;
                  }

                  & a {
                        border: 1px solid #00b4f8;
                        padding: 10px 30px;
                        font-family: "comfortaa";
                        color: #00b4f8;
                        border-radius: 5px;
                        transition: 0.2s;

                        &:hover {
                              background: #00b4f8;
                              background-position-x: left;
                              color: #e9ecef;
                        }

                        &:active {
                              transform: scale(1.01);
                              background: #0082b1;
                        }
                  }
            }

            & .image-container {
                  flex: 1;
                  height: 100%;
                  position: relative;
                  border-radius: 15px;
                  overflow: hidden;
                  box-shadow: 0 0 20px black;

                  & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                  }
                  &:hover .technos-container {
                        transform: translateY(-100%);
                  }

                  & .technos-container {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        background: linear-gradient(
                              to top,
                              #060606 15%,
                              transparent
                        );
                        transition: 0.4s ease-out;

                        & .tech {
                              display: flex;
                              flex-direction: column;
                              align-items: center;

                              & img {
                                    width: 50px;
                                    filter: invert(1);
                              }

                              & p {
                                    color: #e9ecef;
                                    font-size: 18px;
                                    text-transform: capitalize;
                              }
                        }
                  }
            }
      }

      & article:nth-child(4) {
            flex-direction: row-reverse;
      }
}
