/* CursorSphere.css */
#dot {
      width: 5px;
      height: 5px;
      background-color: hsl(196, 100%, 49%);
      border-radius: 50%;
      position: fixed;
      pointer-events: none;
      transform: translate(-50%, -50%);
      transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 10;
}
